.container-fluid {
  padding-top: 100px;
   padding-left: 200px;
  margin-left: auto;
  margin-right: auto;
  }
.box {
  margin-bottom: 20px;
  float: left;
  width: 220px;
  }
  .box img {
  max-width: 100%
}